{:paths   ["src" "resources"]
 :deps    {cambium/cambium.core                 {:mvn/version "1.1.1"}        ;; client logging
           cambium/cambium.logback.core         {:mvn/version "0.4.6"}        ;; client logging (Logback)
           cambium/cambium.logback.json         {:mvn/version "0.4.6"}        ;; client logging (Logback with JSON)
           cambium/cambium.codec-cheshire       {:mvn/version "1.0.0"}        ;; client logging (JSON conversion)
           spootnik/unilog                      {:mvn/version "0.7.32"}       ;; logging control
           logback-bundle/json-bundle           {:mvn/version "0.3.0"}        ;; logging in JSON format - dependencies pack
           trptr/java-wrapper                   {:mvn/version "0.2.3"}        ;; locale detection and coercion
           tongue/tongue                        {:mvn/version "0.4.4"}        ;; i18n
           danlentz/clj-uuid                    {:mvn/version "0.2.0"}        ;; UUID support
           tick/tick                            {:mvn/version "1.0"}          ;; time
           camel-snake-kebab/camel-snake-kebab  {:mvn/version "0.4.3"}        ;; case conversions
           com.intuitiveexplanations/lazy-map   {:mvn/version "1.0.0"}        ;; lazy maps
           metosin/jsonista                     {:mvn/version "0.3.13"}       ;; JSON parser
           cheshire/cheshire                    {:mvn/version "6.1.0"}        ;; JSON parser for hato
           com.github.seancfoley/ipaddress      {:mvn/version "5.5.1"}        ;; IP ranges matching
           hato/hato                            {:mvn/version "1.0.0"}        ;; HTTP client
           clojurewerkz/balagan                 {:mvn/version "1.0.5"}        ;; advanced map transformations
           org.clojure/java.classpath           {:mvn/version "1.1.1"}        ;; Java classpath tools
           org.clojure/java.data                {:mvn/version "1.3.113"}      ;; Java data structures and conversions
           org.clojure/core.memoize             {:mvn/version "1.1.266"}      ;; memoization
           org.clojure/core.cache               {:mvn/version "1.1.234"}      ;; caching
           org.clojure/core.async               {:mvn/version "1.8.741"}      ;; asynchronous operations
           org.clojure/data.avl                 {:mvn/version "0.2.0"}        ;; sorted sets with splitting
           clojure-interop/javax.security       {:mvn/version "1.0.5"}        ;; inter-op for javax.security
           fipp/fipp                            {:mvn/version "0.6.29"}       ;; pretty printing
           mvxcvi/puget                         {:mvn/version "1.3.4"}        ;; pretty printing
           zprint/zprint                        {:mvn/version "1.3.0"}
           io.randomseed/smangler               {:mvn/version "1.0.4"}        ;; fast string trimming
           io.randomseed/bankster               {:mvn/version "1.2.16"}       ;; currency and money
           io.randomseed/phone-number           {:mvn/version "8.13.6-3"}     ;; phone number validation
           io.randomseed/utils                  {:mvn/version "1.2.39"}       ;; random utilities
           factual/geo                          {:mvn/version "3.0.1"}        ;; geospatial information and geohashes
           iso-country-codes/iso-country-codes  {:git/url "https://github.com/randomseed-io/iso-country-codes.git"
                                                 :sha     "991336a419c3746979bc5a80e7a2447f081371be"}
           commons-validator/commons-validator  {:mvn/version "1.10.1"}       ;; validators for e-mail, URL and date
           meta-merge/meta-merge                {:mvn/version "1.0.0"}        ;; deep merging of maps
           integrant/integrant                  {:mvn/version "1.0.1"}        ;; system management via multimethods
           metosin/potpuri                      {:mvn/version "0.5.3"}        ;; common stuff
           metosin/maailma                      {:mvn/version "1.1.0"}        ;; configuration reading (delivers data to integrant)
           io.netty/netty-handler               {:mvn/version "4.1.70.Final"} ;; SSL context management
           metosin/reitit                       {:mvn/version "0.10.0"}       ;; HTTP router
           metosin/reitit-middleware            {:mvn/version "0.10.0"}       ;; HTTP default middleware for Reitit
           metosin/reitit-swagger               {:mvn/version "0.10.0"}       ;; Swagger handler
           metosin/reitit-swagger-ui            {:mvn/version "0.10.0"}       ;; Swagger UI handler
           metosin/reitit-http                  {:mvn/version "0.10.0"}       ;; HTTP handler (async support)
           metosin/reitit-malli                 {:mvn/version "0.10.0"}       ;; HTTP data-oriented schemas
           metosin/muuntaja                     {:mvn/version "0.6.11"}       ;; HTTP transformations
           metosin/muuntaja-msgpack             {:mvn/version "0.6.11"}       ;; HTTP MessagePack format
           metosin/ring-http-response           {:mvn/version "0.9.5"}        ;; HTTP responses (replaces ring.util.response)
           ring/ring-core                       {:mvn/version "1.15.3"}       ;; HTTP handler
           ring/ring-codec                      {:mvn/version "1.3.0"}        ;; HTTP encoding
           ring/ring-mock                       {:mvn/version "0.6.2"}        ;; HTTP request mocks
           ring-cors/ring-cors                  {:mvn/version "0.1.13"}       ;; HTTP cross-origin handling for Ring
           ring/ring-jetty-adapter              {:mvn/version "1.15.3"
                                                 :exclusions  [org.slf4j/slf4j-api]}
           fundingcircle/ring-accept            {:mvn/version "2.0.4"}        ;; HTTP accept-language and similar headers handling for Ring
           ;;aleph/aleph                          {:mvn/version "0.4.7"}      ;; Network server
           io.undertow/undertow-core            {:mvn/version "2.1.0.Final"}
           luminus/ring-undertow-adapter        {:mvn/version "1.4.4"}
           selmer/selmer                        {:mvn/version "1.12.70"}      ;; HTML templates
           hiccup/hiccup                        {:mvn/version "2.0.0"}        ;; HTML generation
           hiccup-table/hiccup-table            {:mvn/version "0.2.0"
                                                 :exclusions  [hiccup/hiccup]}
           com.github.seancorfield/next.jdbc    {:mvn/version "1.3.1086"}     ;; JDBC driver
           com.zaxxer/HikariCP                  {:mvn/version "7.0.2"         ;; JDBC connection pooling
                                                 :exclusions  [org.slf4j/slf4j-api]}
           org.mariadb.jdbc/mariadb-java-client {:mvn/version "3.5.7"}        ;; MariaDB driver
           net.java.dev.jna/jna                 {:mvn/version "5.11.0"}       ;; JNA for socket connections
           dev.weavejester/ragtime              {:mvn/version "0.9.1"}        ;; SQL migrations
           com.taoensso/nippy                   {:mvn/version "3.1.1"}        ;; data serialization
           potemkin/potemkin                    {:mvn/version "0.4.8"}        ;; abstractions with performance in mind
           crypto-equality/crypto-equality      {:mvn/version "1.0.0"}        ;; avoiding timing attacks when comparing
           com.lambdaworks/scrypt               {:mvn/version "1.4.0"}        ;; password encryption
           buddy/buddy-core                     {:mvn/version "1.12.0-430"}   ;; encryption and HMAC calculation
           mvxcvi/alphabase                     {:mvn/version "2.1.0"}        ;; custom base encodings
           org.clojure/core.match               {:mvn/version "1.0.0"}}
 :aliases {:dev       {:extra-deps  {org.clojure/tools.namespace   {:mvn/version "1.5.1"}
                                     org.clojure/tools.deps        {:mvn/version "0.28.1569"}
                                     org.clojure/spec.alpha        {:mvn/version "0.6.249"}
                                     org.clojure/test.check        {:mvn/version "1.1.3"}
                                     ns-tracker/ns-tracker         {:mvn/version "1.0.0"}
                                     orchestra/orchestra           {:mvn/version "2021.01.01-1"}
                                     expound/expound               {:mvn/version "0.9.0"}
                                     lambdaisland/kaocha           {:mvn/version "1.91.1392"}
                                     lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                                     io.aviso/pretty               {:mvn/version "1.4.4"}
                                     clj-commons/spyscope          {:mvn/version "0.1.48"}
                                     fipp/fipp                     {:mvn/version "0.6.29"}
                                     cljfmt/cljfmt                 {:mvn/version "0.9.2"}
                                     ;;midje/midje                 {:mvn/version "1.9.9"}
                                     ;;lambdaisland/kaocha-midje   {:mvn/version "0.0-5"}
                                     zprint/zprint                 {:mvn/version "1.3.0"}
                                     mvxcvi/puget                  {:mvn/version "1.3.4"}}
                       :extra-paths ["dev/src" "test"]
                       :jvm-opts    ["-Xmx1024m","-Dclojure.spec.compile-asserts=true","--enable-native-access=ALL-UNNAMED"]}
           :server    {:extra-paths ["aliases/server"]
                       :extra-deps  {io.aviso/pretty       {:mvn/version "1.4.4"}
                                     clj-commons/spyscope  {:mvn/version "0.1.48"}
                                     fipp/fipp             {:mvn/version "0.6.29"}
                                     cljfmt/cljfmt         {:mvn/version "0.9.2"}
                                     ns-tracker/ns-tracker {:mvn/version "1.0.0"}
                                     zprint/zprint         {:mvn/version "1.3.0"}
                                     mvxcvi/puget          {:mvn/version "1.3.4"}}
                       :jvm-opts    ["-Xmx1024m"]}
           :test      {:extra-paths ["test"]
                       :extra-deps  {org.clojure/test.check        {:mvn/version "1.1.1"}
                                     ns-tracker/ns-tracker         {:mvn/version "0.4.0"}
                                     ;;midje/midje                 {:mvn/version "1.9.9"}
                                     orchestra/orchestra           {:mvn/version "2021.01.01-1"}
                                     expound/expound               {:mvn/version "0.8.7"}
                                     lambdaisland/kaocha           {:mvn/version "1.0.732"}
                                     ;;lambdaisland/kaocha-midje   {:mvn/version "0.0-5"}
                                     lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}
                       :main-opts   ["-m" "kaocha.runner",
                                     "--config-file"   "tests.edn",
                                     "--stc-num-tests" "100"
                                     "--stc-instrumentation"
                                     "--stc-asserts"]
                       :jvm-opts    ["-Xmx512m","--enable-native-access=ALL-UNNAMED"]}
           :eastwood  {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src"]}]
                       :extra-deps {org.clojure/test.check      {:mvn/version "1.1.3"}
                                    ;;midje/midje               {:mvn/version "1.9.9"}
                                    orchestra/orchestra         {:mvn/version "2021.01.01-1"}
                                    expound/expound             {:mvn/version "0.8.7"}
                                    org.clojure/tools.namespace {:mvn/version "1.5.1"}
                                    org.clojure/tools.deps      {:mvn/version "0.28.1569"}
                                    org.clojure/spec.alpha      {:mvn/version "0.6.249"}
                                    ns-tracker/ns-tracker       {:mvn/version "1.0.0"}
                                    jonase/eastwood             {:mvn/version "1.4.3"}}}
           :docs      {:extra-paths ["aliases/codox"]
                       :extra-deps  {org.clojure/tools.deps {:mvn/version "0.28.1569"}
                                     org.clojure/spec.alpha {:mvn/version "0.6.249"}
                                     org.clojure/test.check {:mvn/version "1.1.1"}
                                     orchestra/orchestra    {:mvn/version "2021.01.01-1"}
                                     expound/expound        {:mvn/version "0.8.7"}
                                     codox/codox            {:mvn/version "0.10.8"}
                                     ns-tracker/ns-tracker  {:mvn/version "1.0.0"}}
                       :main-opts   ["-m" "amelinium.codox.main"]}
           :dev-nrepl {:jvm-opts    ["-Dnrepl.load=true","--enable-native-access=ALL-UNNAMED"]
                       :extra-paths ["aliases/nrepl"]
                       :extra-deps  {cider/cider-nrepl         {:mvn/version "0.58.0"}
                                     ;;refactor-nrepl          {:mvn/version "2.3.1"}
                                     cider/piggieback          {:mvn/version "0.6.1"}
                                     nrepl/nrepl               {:mvn/version "1.6.0-alpha2"}
                                     kaocha-nrepl/kaocha-nrepl {:mvn/version "1.0.4"}
                                     mvxcvi/puget              {:mvn/version "1.3.4"}}}
           :cider-clj {:extra-paths ["aliases/nrepl"]
                       :extra-deps  {cider/cider-nrepl         {:mvn/version "0.58.0"}
                                     cider/piggieback          {:mvn/version "0.6.1"}
                                     nrepl/nrepl               {:mvn/version "1.6.0-alpha2"}
                                     kaocha-nrepl/kaocha-nrepl {:mvn/version "1.0.4"}
                                     mvxcvi/puget              {:mvn/version "1.3.4"}
                                     zprint/zprint             {:mvn/version "1.3.0"}}
                       :main-opts   ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
           :dev-rebel {:extra-paths ["aliases/rebel"]
                       :extra-deps  {com.bhauman/rebel-readline      {:mvn/version "0.1.5"}
                                     com.bhauman/rebel-readline-cljs {:mvn/version "0.1.5"}
                                     io.aviso/pretty                 {:mvn/version "1.4.4"}
                                     mvxcvi/puget                    {:mvn/version "1.3.4"}
                                     zprint/zprint                   {:mvn/version "1.3.0"}}
                       :main-opts   ["-m" "amelinium.rebel.main"]}
           :pack      {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                     :sha     "2769a6224bfb938e777906ea311b3daf7d2220f5"}}}
           :new       {:deps       {org.babashka/cli                {:mvn/version "0.8.67"}
                                    io.github.seancorfield/deps-new {:git/tag "v0.10.3"
                                                                     :git/sha "2c012c4"}}
                       :ns-default org.corfield.new
                       :exec-args  {}
                       :main-opts  ["-m" "babashka.cli.exec"]}}
 :codox   {:name        "Amelinium"
           :description "Opinionated Clojure Web Engine"
           :license     "GNU LGPL"
           :package     io.randomseed/amelinium
           :version     "1.0.0"
           :output-path "docs"
           :source-uri  "https://github.com/randomseed-io/amelinium/tree/{version}/{filepath}#L{line}"
           :metadata    {:doc/format :markdown}
           :themes      [:default :randomseed]}}
