{:hooks
 {:analyze-call
  {amelinium.system/add-init     hooks.amelinium.system/add-init
   amelinium.system/add-expand   hooks.amelinium.system/add-expand
   amelinium.system/add-suspend! hooks.amelinium.system/add-suspend!
   amelinium.system/add-resume   hooks.amelinium.system/add-resume
   amelinium.system/add-resolve  hooks.amelinium.system/add-resolve
   amelinium.system/add-halt!    hooks.amelinium.system/add-halt!}}}
